body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

about {
    text-align: justify;
}

.profile-img {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.hobi {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.item {
    flex: 1 1 25    0px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.item img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

gallery {
     width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 1rem;
}

h1 {
    color: #ccc;
}

text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin-top: 2rem;
}
.social-icons {
    margin-top: 1rem;
}
.icons {
    width: 25px;
    height: auto;
    margin: 0 0.5rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons a:hover {
    color: #ddd;
    transform: scale(1.1);
}

.ct {
    width:500px; /* Sesuaikan lebar sesuai kebutuhan */
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.nig {
    display: flex;
    align-items: center;
}

.pop{
    width: 100px;
    height: auto;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    float: left;
}

#con{
    display: flex;
    align-items: center;
    margin: 20px;
    text-align: right;
    justify-content: space-around;
    flex-wrap: wrap;
}

#con img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.dru {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: crimson;
    font-size: 175%;
}

.pri {
    color: #333;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rok {
    color: blue;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.klo {
    border-radius: 8px;
    margin: 10px;
}
